<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planning</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left"> Travel Planning</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/users/signin">Sign In</a></li>
          <li><a href="/users/register">Register</a></li>
        </ul>
      </div>
    </nav>

