<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Travel Planning</title>
  </head>
  <body>
    <nav class="teal lighten-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">
          <i class="large material-icons">card_travel</i>Travel Planning</a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/trips">All Trips</a></li>
          <li><a href="/trips/new">Add New Trip </a></li>
          <li><a href="/users/signout">Sign Out </a></li>
        </ul>
      </div>
    </nav>

    <script>
      setTimeout(() => {
        const tripFlash = window.document.querySelector(".trip-flash");

        if (tripFlash) {
          tripFlash.style.display = "none";
        }
      }, 2000);
    </script>
    <% if(message){ %>

    <h6 class="white-text card-panel light-blue lighten-2 trip-flash">
      <%= message %>
    </h6>

    <% } %>
    <div class="container">

