<%- include("./partials/homePage/header.ejs") %>
<main>
  <h3>Travel Planning</h3>
  <p class="lead">
    Welcome to Travel Planning App! <br />
    Jump right in and start planning your next upcoming trip! <br />
    We hope you have a safe and wonderful trip!
  </p>
  <a href="/trips" class="waves-effect waves-light btn">Start the Journey</a>
</main>

<%- include("./partials/homePage/footer.ejs") %>
