@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: #00695c;
}

h3 {
  text-align: center;
}

nav .nav-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

nav ul a {
  font-size: large;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.newTripForm,
.editTripForm {
  margin: 50px;
}

.showPageCard {
  margin-left: 50px;
  margin-right: 50px;
}

.trip-flash {
  text-align: center;
}

.showPageDeleteButton {
  margin-right: 50px;
}
.showPageItinerary {
  padding-left: 20%;
  padding-right: 20%;
}

.mapContainer {
  display: flex;
  justify-content: center;
}

#map {
  height: 50vh;
  width: 94vw;
  margin-bottom: 20px;
}
