@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

nav .nav-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

nav ul a {
  font-size: x-large;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
