<%- include("../partials/homePage/header.ejs") %>
<main>
  <h5>Sign In</h5>
  <div class="row">
    <form action="/users/signin" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input
            id="username"
            type="text"
            class="validate white-text"
            name="username"
            required
          />
          <label for="username">Username:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            id="password"
            type="password"
            class="validate white-text"
            name="password"
            required
          />
          <label for="password">Password:</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit
      </button>
    </form>
  </div>
</main>
<%- include("../partials/homePage/footer.ejs") %>
