<%- include("../partials/header.ejs") %>
<h1>All Trips</h1>
<ul>
  <% trips.forEach(trip=>{ %>
  <li><a href="/trips/<%= trip._id %>"> <%= trip.name %> </a></li>
  <% }) %>
</ul>
<%- include("../partials/footer.ejs") %>
