<%- include("../partials/header.ejs") %>
<h1>Add a new trip</h1>
<div class="row">
  <form action="/trips" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" name="name" required />
        <label for="name">Trip Name</label>
      </div>
      <div class="input-field col s6">
        <input
          id="duration"
          type="number"
          class="validate"
          name="duration"
          min="1"
          required
        />
        <label for="duration">Trip Duration (day)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="itinerary" type="text" class="validate" name="itinerary" />
        <label for="itinerary">Trip Itinerary</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              type="text"
              id="autocomplete-input"
              name="destination"
              class="autocomplete"
            />
            <label for="autocomplete-input">Trip Destination</label>
          </div>
        </div>
      </div>
    </div>
    <div class="mapContainer">
      <div id="map"></div>
    </div>

    <div class="row" hidden>
      <input id="latitude" type="text" class="validate" name="latitude" />
      <input id="longitude" type="text" class="validate" name="longitude" />
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<script>
  let trip = null;
</script>

<script src="/js/showMap.js"></script>
<%- include("../partials/footer.ejs") %>
